
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'login_reg/css/bootstrap.min.css' %}"media="screen" title="bootstrap" charset="utf-8">
        <link rel="stylesheet" href="{% static 'login_reg/css/style.css' %}"media="screen" title="styling" charset="utf-8">
        <title>InfoHub</title>
    </head>
<body>
    <div class="container" style="max-width: 750px">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-2" style="text-align: center;">
            <img alt="globe" class="img_svg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Antu_map-globe.svg/512px-Antu_map-globe.svg.png" style="width: 100%; height: auto;">
        </div>
        <div class="col-xs-6 center text-center">
            <svg class="logo-title" >
                <text x="0" y="50px" font-size="40px" font-weight="bold" stroke="black" stroke-width="1.5" fill="none">InfoHub</text>
            </svg>
        </div>
        <div class="col-xs-2"></div>
    </div>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class='col-xs-8 login'>
          <h3 class="text-center">Login</h3>
          <form action="{% url 'useradmin:login' %}" method="POST">
            {% csrf_token %}
            <label>Name:</label>
            <input type="text" class="form-control" name="Name">
            <label>Password:</label>
            <input type="password" class="form-control" name="Password">
            <input class="btn btn-primary" type="submit" name="submit" value="Log in">
          </form>
        </div>
        <div class="col-xs-2"></div>
    </div>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            {% if messages %}
              <div class="errors">
                <h3 class="text-center">Errors</h3>
                <ul>
                  {% for message in messages %}
                    <li class="error">{{ message }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
        </div>
        <div class="col-xs-2"></div>
    </div>
        <div class='row'>
            <div class="col-xs-2"></div>
            <div class="col-xs-8 registration">
                <h3 class="text-center">Registration</h3>
                <form action="{% url 'useradmin:register' %}" class="form-group" method="POST">
                    {% csrf_token %}
      			    <label align="left">Name:</label>
                    <input type="text" class="form-control" name="Name">
                    <label align="left">City:</label>
                    <input type="text" class="form-control" name="City">
      			    <label align="left">Password:</label>
                    <input type="password" class="form-control" name="Password">
      			    <label align="left">Confirm Password:</label>
                    <input type="password" class="form-control" name="Confirmed Password">
      			    <input class="btn btn-primary" type="submit" name="submit" value="Register">
          		</form>
            <div class="col-xs-2"></div>
            </div>
        </div>
    </div>
</body>
</html>
