/*login regitration styling*/
input{
    display: block;
}
.img_svg {
    margin-top: 15px;
    max-width: 150px;
    min-width: 70px;
}
.logo-title {
    margin-left: 5px;
    margin-top: 20px;
    max-width: 151px;
    max-height: 70px;
}
.mainLogo {
    max-height: 120px;
    text-align: center;
}
.btn {
    margin-top: 5px;
}
